- title 'Blog Viewer - Index'

.blog-index
  .container
    .content
      .row
        .span16
          %h2 Blog Viewer - Index
          %table{:class => "condensed-table zebra-striped"}
            %thead
              %tr
                %th Seq
                %th Created
                %th Title
                %th Description
                %th Link
            %tbody
              - seq = 0
              - @blogs.each do |blog|
                - seq += 1
                %tr
                  %td
                    = seq
                  %td
                    = link_to blog.created_at, edit_blog_path(blog)
                  %td
                    = blog.title unless blog.title.nil?
                  %td
                    = cutoff_by_char(blog.description, 300) unless blog.description.nil?
                  %td
                    = link_to blog.link, blog.link unless blog.link.nil?

          = paginate @blogs, :window => 5000, :outer_window => 0
