- title 'Blog Viewer - Index'

.blog-index
  .container
    .content
      .row
        .span16
          %table{:class => "condensed-table zebra-striped"}
            %thead
              %tr
                %th Seq
                %th Created
                %th Title
                %th Description
                %th Link
            %tbody
              - seq = 0
              - @blogs.each do |blog|
                - seq += 1
                %tr
                  %td
                    = seq
                  %td
                    = link_to blog.created_at, edit_blog_path(blog)
                  %td
                    = blog.title unless blog.title.nil?
                  %td
                    - unless blog.description.nil? || blog.title == blog.description
                      = cutoff_by_char(blog.description, 500)
                  %td
                    = link_to blog.link, blog.link unless blog.link.nil?

          .actions
            = form_for @search, :url => blogs_path, :html => {:method => :get} do |f|
              = f.label "Search"
              = f.text_field :description_contains
              = f.submit "Submit", :class => 'btn primary'

          = will_paginate @blogs, :renderer => BootstrapPaginationRenderer
